.satu {
  background-color: aquamarine;
  width: 270px;
  height: 270px;
}

.dua {
  background-color: blueviolet;
  width: 80%;
  height: 50%;
}

.tiga {
  background-color: rgb(226, 198, 43);
  width: 120%;
  height: 50%;
}

.empat {
  overflow: auto;
  width: 200px;
  height: 240px;
  background-color: cornflowerblue;
}

.lima {
  overflow: hidden;
  width: 200px;
  height: 240px;
  background-color: rgb(100, 237, 237);
}

.enam {
  overflow: scroll;
  width: 200px;
  height: 240px;
  background-color: rgb(236, 93, 49);
}
