h1 {
  color: #f938f9;
  text-align: center;
  text-decoration: overline underline;
  /* text-transform: uppercase; */
  font-variant: small-caps;
  font-style: oblique;
}

p {
  color: rgb(87, 80, 3);
  text-align: justify;
  text-indent: 40px;
  letter-spacing: 4px;
  word-spacing: 10px;
}

a {
  text-decoration: none;
}
