.kotak {
  background-color: rgb(23, 253, 253);
  width: 150px;
  height: 150px;
  margin: 50px 110px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.kotak:hover {
  transform: scale(0.75, 0.5) rotate(45deg) rotateX(180deg) skew(30deg)
    translate(100px, 200px);
  -webkit-transform: scale(0.75, 0.5) rotate(45deg) rotateX(180deg) skew(30deg)
    translate(50px);
  -moz-transform: scale(0.75, 0.5) rotate(45deg) rotateX(180deg) skew(30deg)
    translate(50px);
  -ms-transform: scale(0.75, 0.5) rotate(45deg) rotateX(180deg) skew(30deg)
    translate(50px);
  -o-transform: scale(0.75, 0.5) rotate(45deg) rotateX(180deg) skew(30deg)
    translate(50px);
  background-color: rgba(248, 58, 106, 0.9);
}

p {
  text-align: center;
}
